/* Small divices */
@media (min-width: 320px) and (max-width: 768px) {
  img {
    display: flex;
    width: 50%;
  }

  body {
    background: #000;
  }

  .navbar {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-li i {
    color: #ffd700;
    opacity: 0.7;
    font-size: 130%;
    height: 1.8rem;
    transition: 1s;
  }
  
  .register-box,
  .login-box {
    height: auto;
  }

  .register-box h1,
  .login-box h1 {
    margin: 0px 0px 10px 0px;
  }
  section article h1 {
    text-align: center;
  }
  section article p {
    padding: 0rem 2rem;
    text-align: justify;
    margin: 25px 0px;
  }

  .navbar ul li {
    margin: 1rem;
  }

  .buttons {
    margin: auto;
    margin-bottom: 1.5rem;
  }
}

/* Tablets */
@media (min-width: 769px) {
  body {
    background: url(image/bg2.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  #userLoginPage {
    background: none;
    background-color: #131414;
  }

  img {
    display: none;
  }

  .register-box,
  .login-box {
    height: calc(100vh - 91.2px);
  }

  main,
  section {
    height: calc(100vh - calc(91.2px + 40px));
  }

  .navbar ul li {
    margin: 1rem 2.5rem;
    font-size: 1.3rem;
  }

  section {
    width: 65%;
    margin-left: auto;
    justify-content: center;
    display: flex;
  }

  section article h1,
  section article p {
    text-align: left;
  }

  .button1 input,
  .button2 input {
    padding: 1rem;
  }

  section article p {
    text-align: left;
    padding: 0rem 2rem;
    padding-right: 2.5rem;
    margin: 70px 0px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .button1,
  .button2 {
    margin: 0rem 4rem;
  }
}

/* More than 769px */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::placeholder {
  color: grey;
}

/* Styles for register and login boxes */
.register-box,
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Style for register and login h1*/
.register-box h1,
.login-box h1 {
  width: 10rem;
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.1rem solid #ffd700;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0rem;
}

.register-box h1 {
  width: 13rem;
}
/* text styles for register, login, navbar, inputs, buttons*/
.text-box {
  overflow: hidden;
  font-size: 1.5rem;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem;
  border-bottom: 0.2rem solid #ffd700;
}

.navbar .text-box {
  border: 2px solid #ffd700;
  border-radius: 10px;
}

.text-box input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1rem;
  margin: 0rem 0.5rem;
}

.btn {
  margin-top: 1.5rem;
  width: 15rem;
  background: none;
  border: 2px solid #ffd700;
  color: white;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 1.5s;
  border-radius: 10px;
}

.buttons {
  width: min-content;
}

.btn:hover {
  background: #ffd700;
  border-color: white;
}

/* color for font */
i {
  color: #ffd700;
}

.register-box > p,
.login-box > p {
  font-size: 12px;
}

.register-box > p > a,
.login-box > p > a {
  color: #ffd700;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.navbar img {
  margin: auto;
  padding: 20px 0px 10px 0px;
}

.navbar nav {
  display: contents;
}

.navbar ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  opacity: 0.5;
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover {
  color: #ffd700;
  opacity: 1;
  transition: 0.8s;
}
/* end of that styles */

/* styles for big text */
article {
  justify-content: center;
  margin: auto;
}

section article h1 {
  margin: 0rem 0rem 2rem 0rem;
  font-size: 2.5rem;
  color: white;
  padding: 0rem 1.5rem;
}
section article h1 span {
  color: #ffd700;
}

section article p {
  color: white;
}

/* user Login (usuario logeado) */

/* small divices */

@media (min-width: 320px) and (max-width: 768px) {
  #userLoginPage {
    background-color: #131414;
  }
  .navbar h1 > span {
    color: #eeeeee; /*#33322E*/
  }

  #navbar-img {
    display: none;
  }

  .navbar-li {
    list-style: none;
  }

  .navbar-li i {
    color: #ffd700;
    opacity: 0.7;
    font-size: 130%;
    height: 1.8rem;
    transition: 1s;
  }

  .navbar-li i:hover {
    transform: scale(1.3, 1.3);
    opacity: 1;
  }

  .navbar-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: auto;
    background-color: #2b2a2c;
    height: 6rem;
    margin-bottom: 2.5rem;
  }

  .navbar-login ul {
    padding: 0;
    display: flex;
  }

  .navbar-login a {
    padding: 0rem 0.8rem;
  }

  .navbar-li i.fas.fa-user,
  .navbar-li.config {
    padding: 0 0.5rem;
  }

  .container-topside {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    /* grid-template-rows: repeat(4, minmax(0, 1fr)); */
    gap: 1rem;
  }

  .container-topside div {
    border-radius: 0.25rem;
    background-color: #2b2a2c;
    width: 80%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .container-topside div {
    color: #8391a2;
  }

  .container-topside div h2 {
    color: rgb(170, 184, 197);
  }

  .container-topside h3,
  .container-topside p,
  .container-topside p > span {
    font-weight: 100;
  }

  .container-topside div h3 i {
    float: right;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .container-topside div h3,
  .container-topside .text-complement {
    font-size: 0.9rem;
  }

  .container-topside div p > span.percentage-green {
    color: #0acf97;
  }

  .container-topside div p > span.percentage-red {
    color: #fa5c7c;
  }

  .title-content {
    color: rgb(170, 184, 197);
    margin: 1rem;
  }
}

/* Laptops and Desktops */

@media (min-width: 769px) {
  #userLoginPage {
    background-color: #131414;
  }
  .navbar h1 > span {
    color: #eeeeee; /*#33322E*/
  }

  #navbar-img {
    display: none;
  }

  .navbar-li {
    list-style: none;
  }

  .navbar-li i {
    color: #ffd700;
    opacity: 0.7;
    font-size: 130%;
    height: 1.8rem;
    transition: 1s;
  }

  .navbar-li i:hover {
    transform: scale(1.3, 1.3);
    opacity: 1;
  }

  .header-login {
    background-color: #2b2a2c;
    width: 100vw;
  }

  .navbar-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    background-color: #2b2a2c;
    height: 6rem;
    margin-bottom: 2.5rem;
  }

  .navbar-login ul {
    padding: 0;
    display: flex;
  }

  .navbar-login a {
    padding: 0rem 0.8rem;
  }

  .navbar-li i.fas.fa-user,
  .navbar-li.config {
    padding: 0 0.5rem;
  }

  .container-topside {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .container-topside div {
    border-radius: 0.25rem;
    background-color: #2b2a2c;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  #middle-lock {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
  }

  .container-topside div {
    color: #8391a2;
  }

  .container-topside div h2 {
    color: rgb(170, 184, 197);
  }

  .container-topside h3,
  .container-topside p,
  .container-topside p > span {
    font-weight: 100;
  }

  .container-topside div h3 i {
    float: right;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .container-topside div h3,
  .container-topside .text-complement {
    font-size: 0.9rem;
  }

  .container-topside div p > span.percentage-green {
    color: #0acf97;
  }

  .container-topside div p > span.percentage-red {
    color: #fa5c7c;
  }

  .title-content {
    color: rgb(170, 184, 197);
    margin: 1rem;
  }
}

/* all divices */
#dashboard {
  width: 90%;
  margin: auto;
}